*{
  margin: 0;
  padding: 0;
}
/* styles.css */
.body-background {
  background-image: url("/background-5.jpg");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  min-height: 82vh; /* Make the container take up the full viewport height */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
body{
  background-image: url("/background-4.jpg");
  background-size: cover; /* Cover the entire container */
  background-position: center;
}

.body-content {
  text-align: center;
  color: rgb(0, 0, 0); /* Text color */

}
.body-content h1{
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.body-content h2{
  font-size: 35px;
  font-family:cursive;
  margin-left: 150px;
  color: #271212;
}

nav {
  background-color: #333;
  color: rgb(209, 209, 209);
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  
}

h1 {
  margin: 0;
  font-size: 30px;
}

.options {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.options a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.options a:hover {
  background-color: #555;
}
.user-registration {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-registration form {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.user-registration label {
  margin-bottom: 8px;
  font-weight: bold;
}

.user-registration input[type="text"],
.user-registration input[type="email"],
.user-registration input[type="password"],
.user-registration select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-right: -20px; */
}

.user-registration input[type="radio"] {
  margin-right: 8px;
}

.user-registration select {
  background-color: #fff;
}

.user-registration input[type="submit"] {
  padding: 12px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.user-registration input[type="submit"]:hover {
  background-color: #0056b3;
}
.login {
  max-width: 500px;
  margin: 100px auto;
  padding: 50px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 40.55vh;
}

.login label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login input[type="email"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login input[type="submit"]:hover {
  background-color: #0056b3;
}
.footer {
  background-color: #333; /* Background color of the footer */
  color: white; /* Text color */
  padding: 20px; /* Padding around the content inside the footer */
  text-align: center; /* Center-align the content */
  position: relative;
  bottom: 0;
  width: auto; /* Make the footer span the entire width */

}



/* ----------------------------------------- */
.about{
  background-color: #FFF7ED;
}
.about img{
  border-radius: 10px;
  border: 1px solid azure;
  margin-top: 20px;
  width: 70%;
  height: 50vh;
  margin-left: 230px;
}
.about h1{
  margin-left: 250px;
  font-size: 42px;
  font-weight: 800;
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about h3{
  margin-left: 250px;
  max-width: 1000px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 200px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.about-box{
  margin-top: 30px;
  background-color: #FFCC8D;
  width: 800px;
  margin-left: 350px;
  height: 200px;
  text-align: left;
  padding-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.about-box h2{
  font-size: 30px;
  margin-left: 150px;
  font-weight: 700;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.about-box .explore{
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
  margin-left: 150px;
  margin-top: 20px;
  padding: 10px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  margin-bottom: 10px;
}

/* ---------------------------------------- */

.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container input[type="file"] {
  margin-top: 5px;
}

.form-container button {
  background-color: #2f3530;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.form-container .center{
text-align: center;
}
.form-container button:hover {
  background-color: #45a049;
}
.error{
  color: red;
}
